<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="https://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link th:href="@{/css/chunk-vendors-admin.css}" rel="stylesheet">
    <link th:href="@{/css/app-admin.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css"/>

    <title>my-block-admin-frontend</title>

</head>
<body>
<noscript>
    <strong>We're sorry but my-block-admin-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/session-storage.js}"></script>
<script th:src="@{/js/Tool.js}"></script>
<!--<script th:src="@{/js/chunk-vendors-admin.js}"></script>-->
<!--<script th:src="@{/js/app-admin.js}"></script>-->
<script type="text/javascript" src="http://localhost:4001/js/chunk-vendors.js"></script>
<script type="text/javascript" src="http://localhost:4001/js/app.js"></script></body>
</body></html>