<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta" xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        @font-face {
            font-family: 'Spotlight';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link th:href="@{/css/default.css}" rel="stylesheet">
    <link th:href="@{/css/chunk-vendors-blog.css}" rel="stylesheet">
    <link th:href="@{/css/app-blog.css}" rel="stylesheet">
    <title>Study, Work, Love</title>
</head>

<body>
<div id="app"></div>

</body>
<script th:src="@{/js/session-storage.js}"></script>
<script th:src="@{/js/Tool.js}"></script>
<script th:src="@{/js/chunk-vendors-blog.js}"></script>
<script th:src="@{/js/app-blog.js}"></script>
<!--<script src="http://localhost:4001/static/js/session-storage.js"></script>-->
<!--<script src="http://localhost:4001/static/js/tool.js"></script>-->
<!--<script type="text/javascript" src="http://localhost:4000/js/chunk-vendors.js"></script>-->
<!--<script type="text/javascript" src="http://localhost:4000/js/app.js"></script></body>-->

</html>