<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta" xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ㅅㄷㄴㅅ</title>
</head>
<title>Home</title>
<body>
<user-card name="cunho"></user-card>
<user-card name="asdfasdf"></user-card>
</body>
<script>
class UserCard extends HTMLElement {
    constructor() {
        super();
        this.attachShadow({ mode: 'open'});
        this.shadowRoot.appendChild()
    }
}

window.customElements.define('user-card', UserCard);
</script>
</html>