<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Buza.User">

    <sql id="Base_Column_List_Except_Password">
        USER_SEQ, OPENID, UNIONID, USERNAME, PASSWORD, ROLE_NO, ROLE, STATUS, USER_TYPE,
        REALNAME, COMPANY, COMPANY_TYPE, MOBILE_NO, EMAIL, SEX, BIRTHDAY, WECHAT, PROVINCE_CODE,
        CITY_CODE, DISTRICT_CODE, ADDRESS, QUESTION, ANSWER, IMAGE_PHOTO, OPTION01, OPTION02,
        OPTION03, OPTION04, OPTION05, CREATETIME, UPDATETIME
    </sql>

    <select id="selectSysUserByUsername" parameterType="java.lang.String" resultType="online.cunho.blog.entity.SysUser">
        select
        <include refid="Base_Column_List_Except_Password"/>
        from sys_user
        where USERNAME = #{username}
    </select>

    <select id="getSysRoleListByUserSeq" parameterType="java.lang.Integer" resultType="online.cunho.blog.entity.SysRole">
        <![CDATA[
        SELECT  ID, NAME, CODE, REMARK,
                date_format(CREATETIME, '%Y-%m-%d') AS CREATETIME,
                date_format(UPDATETIME, '%Y-%m-%d') AS UPDATETIME
        FROM    SYS_ROLE T1
        WHERE   T1.ID IN (
            SELECT ROLE_ID
            FROM   SYS_USER_ROLE
            WHERE  USER_SEQ = #{userSeq}
        )
        ]]>
    </select>

    <select id="getMenuListByUserSeq" parameterType="java.lang.Integer" resultType="online.cunho.blog.entity.SysMenu">
        <![CDATA[
        SELECT  *
        FROM    SYS_MENU T
        WHERE   T.ID IN  (
            SELECT  DISTINCT T2.MENU_ID
            FROM    SYS_USER_ROLE T1
                        LEFT OUTER JOIN SYS_ROLE_MENU T2 ON  T1.ROLE_ID = T2.ROLE_ID
            WHERE   T1.USER_SEQ = #{userSeq}
        )
        ]]>
    </select>


</mapper>
