<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbAttributeMapper">
    <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbAttribute">
        <id column="ATTR_ID" jdbcType="INTEGER" property="attrId"/>
        <result column="ATTR_NAME" jdbcType="VARCHAR" property="attrName"/>
        <result column="ATTR_TYPE" jdbcType="VARCHAR" property="attrType"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="ATTR_IMAGE" jdbcType="VARCHAR" property="attrImage"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        ATTR_ID
        , ATTR_NAME, ATTR_TYPE, `STATUS`,ATTR_IMAGE, OPTION01, OPTION02, OPTION03, OPTION04,
    OPTION05, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_ATTRIBUTE
        where ATTR_ID = #{attrId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from TB_ATTRIBUTE
        where ATTR_ID = #{attrId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="online.cunho.blog.entity.TbAttribute">
        insert into TB_ATTRIBUTE (ATTR_ID, ATTR_NAME, ATTR_TYPE,
                                  `STATUS`, ATTR_IMAGE, OPTION01, OPTION02,
                                  OPTION03, OPTION04, OPTION05,
                                  CREATE_TIME, UPDATE_TIME)
        values (#{attrId,jdbcType=INTEGER}, #{attrName,jdbcType=VARCHAR}, #{attrType,jdbcType=VARCHAR},
                #{status,jdbcType=VARCHAR}, #{attrImage,jdbcType=VARCHAR}, #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR},
                #{option03,jdbcType=VARCHAR}, #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbAttribute">
        insert into TB_ATTRIBUTE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attrId != null">
                ATTR_ID,
            </if>
            <if test="attrName != null">
                ATTR_NAME,
            </if>
            <if test="attrType != null">
                ATTR_TYPE,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="attrImage != null">
                ATTR_IMAGE,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            CREATE_TIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attrId != null">
                #{attrId,jdbcType=INTEGER},
            </if>
            <if test="attrName != null">
                #{attrName,jdbcType=VARCHAR},
            </if>
            <if test="attrType != null">
                #{attrType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="attrImage != null">
                #{attrImage,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbAttribute">
        update TB_ATTRIBUTE
        <set>
            <if test="attrName != null">
                ATTR_NAME = #{attrName,jdbcType=VARCHAR},
            </if>
            <if test="attrType != null">
                ATTR_TYPE = #{attrType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `STATUS` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="attrImage != null">
                ATTR_IMAGE = #{attrImage,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            UPDATE_TIME = now()
        </set>
        where ATTR_ID = #{attrId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbAttribute">
        update TB_ATTRIBUTE
        set ATTR_NAME   = #{attrName,jdbcType=VARCHAR},
            ATTR_TYPE   = #{attrType,jdbcType=VARCHAR},
            `STATUS`    = #{status,jdbcType=VARCHAR},
            ATTR_IMAGE    = #{attrImage,jdbcType=VARCHAR},
            OPTION01    = #{option01,jdbcType=VARCHAR},
            OPTION02    = #{option02,jdbcType=VARCHAR},
            OPTION03    = #{option03,jdbcType=VARCHAR},
            OPTION04    = #{option04,jdbcType=VARCHAR},
            OPTION05    = #{option05,jdbcType=VARCHAR},
            CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME = NOW()
        where ATTR_ID = #{attrId,jdbcType=INTEGER}
    </update>

    <resultMap id="BaseResultDtoMap" type="online.cunho.blog.dto.TbAttributeDto">
        <id column="ATTR_ID" jdbcType="INTEGER" property="attrId"/>
        <result property="attrName" column="ATTR_NAME" jdbcType="VARCHAR" />
        <result property="attrType" column="ATTR_TYPE" jdbcType="VARCHAR" />
        <result property="status" column="STATUS" jdbcType="VARCHAR" />
        <result property="attrImage" column="ATTR_IMAGE" jdbcType="VARCHAR" />
        <result property="option01" column="OPTION01" jdbcType="VARCHAR" />
        <result property="option02" column="OPTION02" jdbcType="VARCHAR" />
        <result property="option03" column="OPTION03" jdbcType="VARCHAR" />
        <result property="option04" column="OPTION04" jdbcType="VARCHAR" />
        <result property="option05" column="OPTION05" jdbcType="VARCHAR" />
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
        <collection property="lstAttrValue" ofType="online.cunho.blog.dto.TbAttributeValueDto">
            <id column="ATTR_VALUE_ID" jdbcType="INTEGER" property="attrValueId"/>
            <result column="ATTR_ID" jdbcType="INTEGER" property="attrId"/>
            <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue"/>
            <result column="PRICE" jdbcType="DECIMAL" property="price"/>
            <result column="VIP_PRICE" jdbcType="DECIMAL" property="vipPrice"/>
            <result column="DELIVERY_PRICE" jdbcType="DECIMAL" property="deliveryPrice"/>
            <result column="DELIVERY_TYPE" jdbcType="VARCHAR" property="deliveryType"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="ATTR_VALUE_IMAGE" jdbcType="VARCHAR" property="attrValueImage"/>
            <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
            <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
            <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
            <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
            <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        </collection>
    </resultMap>
    <select id="lstTbAttribute" parameterType="online.cunho.blog.dto.TbAttributeDto" resultMap="BaseResultDtoMap">
        SELECT  ROW_NUMBER() OVER() RN
                ,T1.ATTR_ID
                ,T1.ATTR_NAME
                ,T1.ATTR_TYPE
                ,T1.STATUS
                ,CASE WHEN T1.STATUS = 1 THEN '使用中' WHEN T1.STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.ATTR_IMAGE
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i') AS UPDATE_TIME
                ,T2.ATTR_VALUE_ID
                ,T2.ATTR_ID
                ,T2.ATTR_VALUE
                ,T2.PRICE
                ,T2.VIP_PRICE
                ,T2.DELIVERY_PRICE
                ,T2.DELIVERY_TYPE
                ,T2.STATUS
        FROM    TB_ATTRIBUTE T1
                LEFT OUTER JOIN TB_ATTRIBUTE_VALUE T2 ON T1.ATTR_ID = T2.ATTR_ID
    </select>

    <select id="lstTbAttributeType2" parameterType="online.cunho.blog.dto.TbAttributeDto" resultType="java.util.Map">
        SELECT  ROW_NUMBER() OVER() AS rn
                ,T1.ATTR_ID AS attrId
                ,T1.ATTR_NAME AS attrName
                ,T1.ATTR_TYPE AS attrType
                ,T1.STATUS as status
                ,CASE WHEN T1.STATUS = 1 THEN '使用中' WHEN T1.STATUS = 0 THEN '禁用' ELSE '-' END AS statusName
                ,T1.ATTR_IMAGE as attrImage
                ,T1.OPTION01 as option01
                ,T1.OPTION02 as option02
                ,T1.OPTION03 as option03
                ,T1.OPTION04 as option04
                ,T1.OPTION05 as option05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i') AS createTime
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i') AS updateTime
                ,T2.ATTR_VALUE_ID as attrValueId
                ,T2.ATTR_VALUE as attrValue
                ,T2.PRICE as price
                ,T2.VIP_PRICE as vipPrice
                ,T2.DELIVERY_PRICE as deliveryPrice
                ,T2.DELIVERY_TYPE as deliveryType
        FROM    TB_ATTRIBUTE T1
                LEFT OUTER JOIN TB_ATTRIBUTE_VALUE T2 ON T1.ATTR_ID = T2.ATTR_ID
    </select>

    <select id="getTbAttributeInfoByAttrId" parameterType="java.lang.Integer" resultType="online.cunho.blog.dto.TbAttributeDto">
        SELECT  T1.ATTR_ID
                ,T1.ATTR_NAME
                ,T1.ATTR_TYPE
                ,T1.STATUS
                ,CASE WHEN T1.STATUS = 1 THEN '使用中' WHEN T1.STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.ATTR_IMAGE
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i') AS UPDATE_TIME
        FROM    TB_ATTRIBUTE T1
        WHERE   T1.ATTR_ID = #{attrId}
    </select>
</mapper>