<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbBrandMapper">
    <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbBrand">
        <id column="BRAND_ID" jdbcType="INTEGER" property="brandId"/>
        <result column="BRAND_NAME" jdbcType="VARCHAR" property="brandName"/>
        <result column="BRAND_INTRO" jdbcType="VARCHAR" property="brandIntro"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="BRAND_IMAGE" jdbcType="VARCHAR" property="brandImage"/>
        <result column="BRAND_PINYIN" jdbcType="VARCHAR" property="brandPinyin"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        BRAND_ID
        , BRAND_NAME, BRAND_INTRO, `STATUS`, BRAND_IMAGE, BRAND_PINYIN, OPTION01,
    OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_brand
        where BRAND_ID = #{brandId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_brand
        where BRAND_ID = #{brandId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="online.cunho.blog.entity.TbBrand">
        insert into tb_brand (BRAND_ID, BRAND_NAME, BRAND_INTRO,
                              `STATUS`, BRAND_IMAGE, BRAND_PINYIN,
                              OPTION01, OPTION02, OPTION03,
                              OPTION04, OPTION05, CREATE_TIME,
                              UPDATE_TIME)
        values (#{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, #{brandIntro,jdbcType=VARCHAR},
                #{status,jdbcType=VARCHAR}, #{brandImage,jdbcType=VARCHAR}, #{brandPinyin,jdbcType=VARCHAR},
                #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR}, #{option03,jdbcType=VARCHAR},
                #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbBrand">
        insert into tb_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                BRAND_ID,
            </if>
            <if test="brandName != null">
                BRAND_NAME,
            </if>
            <if test="brandIntro != null">
                BRAND_INTRO,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="brandImage != null">
                BRAND_IMAGE,
            </if>
            <if test="brandPinyin != null">
                BRAND_PINYIN,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="brandName != null">
                #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandIntro != null">
                #{brandIntro,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="brandImage != null">
                #{brandImage,jdbcType=VARCHAR},
            </if>
            <if test="brandPinyin != null">
                #{brandPinyin,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbBrand">
        update tb_brand
        <set>
            <if test="brandName != null">
                BRAND_NAME = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandIntro != null">
                BRAND_INTRO = #{brandIntro,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `STATUS` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="brandImage != null">
                BRAND_IMAGE = #{brandImage,jdbcType=VARCHAR},
            </if>
            <if test="brandPinyin != null">
                BRAND_PINYIN = #{brandPinyin,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where BRAND_ID = #{brandId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbBrand">
        update tb_brand
        set BRAND_NAME   = #{brandName,jdbcType=VARCHAR},
            BRAND_INTRO  = #{brandIntro,jdbcType=VARCHAR},
            `STATUS`     = #{status,jdbcType=VARCHAR},
            BRAND_IMAGE  = #{brandImage,jdbcType=VARCHAR},
            BRAND_PINYIN = #{brandPinyin,jdbcType=VARCHAR},
            OPTION01     = #{option01,jdbcType=VARCHAR},
            OPTION02     = #{option02,jdbcType=VARCHAR},
            OPTION03     = #{option03,jdbcType=VARCHAR},
            OPTION04     = #{option04,jdbcType=VARCHAR},
            OPTION05     = #{option05,jdbcType=VARCHAR},
            CREATE_TIME  = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME  = #{updateTime,jdbcType=TIMESTAMP}
        where BRAND_ID = #{brandId,jdbcType=INTEGER}
    </update>
</mapper>