<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbCustomerMapper">
    <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbCustomer">
        <id column="CUSTOMER_ID" jdbcType="INTEGER" property="customerId"/>
        <result column="WEIXIN_OPEN_ID" jdbcType="VARCHAR" property="weixinOpenId"/>
        <result column="WEIXIN_UNION_ID" jdbcType="VARCHAR" property="weixinUnionId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo"/>
        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>
        <result column="GRADE" jdbcType="VARCHAR" property="grade"/>
        <result column="CUSTOMER_TYPE" jdbcType="VARCHAR" property="customerType"/>
        <result column="REALNAME" jdbcType="VARCHAR" property="realname"/>
        <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday"/>
        <result column="SEX" jdbcType="VARCHAR" property="sex"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="COUNTRY" jdbcType="VARCHAR" property="country"/>
        <result column="PROVINCE" jdbcType="VARCHAR" property="province"/>
        <result column="CITY" jdbcType="VARCHAR" property="city"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="WECHAT_ID" jdbcType="VARCHAR" property="wechatId"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        CUSTOMER_ID
        , WEIXIN_OPEN_ID, WEIXIN_UNION_ID, USERNAME, `PASSWORD`, MOBILE_NO, NICKNAME,
        GRADE, CUSTOMER_TYPE, REALNAME, BIRTHDAY, SEX, EMAIL, COUNTRY, PROVINCE, CITY, ADDRESS,
        `STATUS`, WECHAT_ID, OPTION01, OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME,
        UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_CUSTOMER
        where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from TB_CUSTOMER
        where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="online.cunho.blog.entity.TbCustomer">
        insert into TB_CUSTOMER (CUSTOMER_ID, WEIXIN_OPEN_ID, WEIXIN_UNION_ID,
                                 USERNAME, `PASSWORD`, MOBILE_NO,
                                 NICKNAME, GRADE, CUSTOMER_TYPE,
                                 REALNAME, BIRTHDAY, SEX,
                                 EMAIL, COUNTRY, PROVINCE,
                                 CITY, ADDRESS, `STATUS`,
                                 WECHAT_ID, OPTION01, OPTION02,
                                 OPTION03, OPTION04, OPTION05,
                                 CREATE_TIME, UPDATE_TIME)
        values (#{customerId,jdbcType=INTEGER}, #{weixinOpenId,jdbcType=VARCHAR}, #{weixinUnionId,jdbcType=VARCHAR},
                #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR},
                #{realname,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
                #{city,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
                #{wechatId,jdbcType=VARCHAR}, #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR},
                #{option03,jdbcType=VARCHAR}, #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbCustomer">
        <selectKey keyProperty="customerId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into TB_CUSTOMER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                CUSTOMER_ID,
            </if>
            <if test="weixinOpenId != null">
                WEIXIN_OPEN_ID,
            </if>
            <if test="weixinUnionId != null">
                WEIXIN_UNION_ID,
            </if>
            <if test="username != null">
                USERNAME,
            </if>
            <if test="password != null">
                `PASSWORD`,
            </if>
            <if test="mobileNo != null">
                MOBILE_NO,
            </if>
            <if test="nickname != null">
                NICKNAME,
            </if>
            <if test="grade != null">
                GRADE,
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE,
            </if>
            <if test="realname != null">
                REALNAME,
            </if>
            <if test="birthday != null">
                BIRTHDAY,
            </if>
            <if test="sex != null">
                SEX,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="country != null">
                COUNTRY,
            </if>
            <if test="province != null">
                PROVINCE,
            </if>
            <if test="city != null">
                CITY,
            </if>
            <if test="address != null">
                ADDRESS,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="wechatId != null">
                WECHAT_ID,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            CREATE_TIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null">
                #{customerId,jdbcType=INTEGER},
            </if>
            <if test="weixinOpenId != null">
                #{weixinOpenId,jdbcType=VARCHAR},
            </if>
            <if test="weixinUnionId != null">
                #{weixinUnionId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobileNo != null">
                #{mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                #{realname,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="wechatId != null">
                #{wechatId,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbCustomer">
        update TB_CUSTOMER
        <set>
            <if test="weixinOpenId != null">
                WEIXIN_OPEN_ID = #{weixinOpenId,jdbcType=VARCHAR},
            </if>
            <if test="weixinUnionId != null">
                WEIXIN_UNION_ID = #{weixinUnionId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `PASSWORD` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="mobileNo != null">
                MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                NICKNAME = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                GRADE = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null">
                CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                REALNAME = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                BIRTHDAY = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                SEX = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                COUNTRY = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                PROVINCE = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                CITY = #{city,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                ADDRESS = #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `STATUS` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="wechatId != null">
                WECHAT_ID = #{wechatId,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            UPDATE_TIME = now()
        </set>
        where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbCustomer">
        update TB_CUSTOMER
        set WEIXIN_OPEN_ID  = #{weixinOpenId,jdbcType=VARCHAR},
            WEIXIN_UNION_ID = #{weixinUnionId,jdbcType=VARCHAR},
            USERNAME        = #{username,jdbcType=VARCHAR},
            `PASSWORD`      = #{password,jdbcType=VARCHAR},
            MOBILE_NO       = #{mobileNo,jdbcType=VARCHAR},
            NICKNAME        = #{nickname,jdbcType=VARCHAR},
            GRADE           = #{grade,jdbcType=VARCHAR},
            CUSTOMER_TYPE   = #{customerType,jdbcType=VARCHAR},
            REALNAME        = #{realname,jdbcType=VARCHAR},
            BIRTHDAY        = #{birthday,jdbcType=VARCHAR},
            SEX             = #{sex,jdbcType=VARCHAR},
            EMAIL           = #{email,jdbcType=VARCHAR},
            COUNTRY         = #{country,jdbcType=VARCHAR},
            PROVINCE        = #{province,jdbcType=VARCHAR},
            CITY            = #{city,jdbcType=VARCHAR},
            ADDRESS         = #{address,jdbcType=VARCHAR},
            `STATUS`        = #{status,jdbcType=VARCHAR},
            WECHAT_ID       = #{wechatId,jdbcType=VARCHAR},
            OPTION01        = #{option01,jdbcType=VARCHAR},
            OPTION02        = #{option02,jdbcType=VARCHAR},
            OPTION03        = #{option03,jdbcType=VARCHAR},
            OPTION04        = #{option04,jdbcType=VARCHAR},
            OPTION05        = #{option05,jdbcType=VARCHAR},
            UPDATE_TIME     = now()
        where CUSTOMER_ID = #{customerId,jdbcType=INTEGER}
    </update>

    <select id="isExistMobileNo" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT 	1
        FROM	TB_CUSTOMER T1
        WHERE	T1.MOBILE_NO = #{mobileNo}
        <if test="customerId != null">
            AND		T1.CUSTOMER_ID != #{customerId}
        </if>
        LIMIT 1
    </select>

    <select id="getAllCustomerList" resultType="online.cunho.blog.dto.TbCustomerDto">
        SELECT 	ROW_NUMBER() OVER() AS RN
                ,T1.CUSTOMER_ID
                ,T2.SHOP_NAME
                ,T2.SHOP_ID
                ,IFNULL(T1.WEIXIN_OPEN_ID, '-') AS WEIXIN_OPEN_ID
                ,IFNULL(T1.WEIXIN_UNION_ID, '-') AS WEIXIN_UNION_ID
                ,T1.USERNAME
                ,T1.MOBILE_NO
                ,T1.NICKNAME
                ,T1.GRADE
                ,T1.CUSTOMER_TYPE
                ,T1.REALNAME
                ,T1.BIRTHDAY
                ,T1.SEX
                ,T1.EMAIL
                ,T1.COUNTRY
                ,T1.PROVINCE
                ,T1.CITY
                ,T1.ADDRESS
                ,T1.STATUS
                ,CASE WHEN T1.STATUS = 1 THEN '使用中' WHEN T1.STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.WECHAT_ID
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i') AS UPDATE_TIME
        FROM 	TB_CUSTOMER T1
                LEFT OUTER JOIN (
                                SELECT 	T1.CUSTOMER_ID,
                                        GROUP_CONCAT(DISTINCT T2.SHOP_NAME SEPARATOR '/') AS SHOP_NAME,
                                        GROUP_CONCAT(DISTINCT T1.SHOP_ID SEPARATOR ',') AS SHOP_ID
                                FROM 	TB_CUSTOMER_SHOP T1
                                        LEFT OUTER JOIN TB_SHOP T2 ON T1.SHOP_ID = T2.SHOP_ID
                                GROUP BY T1.CUSTOMER_ID
                                ) T2 ON T1.CUSTOMER_ID = T2.CUSTOMER_ID
        GROUP BY T1.CUSTOMER_ID
    </select>

    <select id="getCustomerInfoByCustomerId" parameterType="java.lang.Integer" resultType="online.cunho.blog.dto.TbCustomerDto">
        SELECT 	ROW_NUMBER() OVER() AS RN
                ,T1.CUSTOMER_ID
                ,T2.SHOP_NAME
                ,T2.SHOP_ID
                ,IFNULL(T1.WEIXIN_OPEN_ID, '-') AS WEIXIN_OPEN_ID
                ,IFNULL(T1.WEIXIN_UNION_ID, '-') AS WEIXIN_UNION_ID
                ,T1.USERNAME
                ,T1.MOBILE_NO
                ,T1.NICKNAME
                ,T1.GRADE
                ,T1.CUSTOMER_TYPE
                ,T1.REALNAME
                ,T1.BIRTHDAY
                ,T1.SEX
                ,T1.EMAIL
                ,T1.COUNTRY
                ,T1.PROVINCE
                ,T1.CITY
                ,T1.ADDRESS
                ,T1.STATUS
                ,CASE WHEN T1.STATUS = 1 THEN '使用中' WHEN T1.STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.WECHAT_ID
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i') AS UPDATE_TIME
        FROM 	TB_CUSTOMER T1
                LEFT OUTER JOIN (
                                SELECT 	T1.CUSTOMER_ID,
                                        GROUP_CONCAT(DISTINCT T2.SHOP_NAME SEPARATOR '/') AS SHOP_NAME,
                                        GROUP_CONCAT(DISTINCT T1.SHOP_ID SEPARATOR ',') AS SHOP_ID
                                FROM 	TB_CUSTOMER_SHOP T1
                                        LEFT OUTER JOIN TB_SHOP T2 ON T1.SHOP_ID = T2.SHOP_ID
                                GROUP BY T1.CUSTOMER_ID
                                ) T2 ON T1.CUSTOMER_ID = T2.CUSTOMER_ID
        WHERE   T1.CUSTOMER_ID = #{customerId}
        GROUP BY T1.CUSTOMER_ID

    </select>
</mapper>