<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbPostCustomerMapper">
  <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbPostCustomer">
    <id column="POST_CUSTOMER_ID" jdbcType="INTEGER" property="postCustomerId" />
    <result column="POST_ID" jdbcType="INTEGER" property="postId" />
    <result column="CUSTOMER_ID" jdbcType="INTEGER" property="customerId" />
    <result column="PAID_YN" jdbcType="VARCHAR" property="paidYn" />
    <result column="JOINED_YN" jdbcType="VARCHAR" property="joinedYn" />
    <result column="JOINED_TIME" jdbcType="TIMESTAMP" property="joinedTime" />
    <result column="PC_ORDER_NO" jdbcType="VARCHAR" property="pcOrderNo" />
    <result column="OPTION01" jdbcType="VARCHAR" property="option01" />
    <result column="OPTION02" jdbcType="VARCHAR" property="option02" />
    <result column="OPTION03" jdbcType="VARCHAR" property="option03" />
    <result column="OPTION04" jdbcType="VARCHAR" property="option04" />
    <result column="OPTION05" jdbcType="VARCHAR" property="option05" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    POST_CUSTOMER_ID, POST_ID, CUSTOMER_ID, PAID_YN, JOINED_YN, JOINED_TIME, PC_ORDER_NO, 
    OPTION01, OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_POST_CUSTOMER
    where POST_CUSTOMER_ID = #{postCustomerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TB_POST_CUSTOMER
    where POST_CUSTOMER_ID = #{postCustomerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="online.cunho.blog.entity.TbPostCustomer">
    insert into TB_POST_CUSTOMER (POST_CUSTOMER_ID, POST_ID, CUSTOMER_ID,
      PAID_YN, JOINED_YN, JOINED_TIME, 
      PC_ORDER_NO, OPTION01, OPTION02, 
      OPTION03, OPTION04, OPTION05, 
      CREATE_TIME, UPDATE_TIME)
    values (#{postCustomerId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{paidYn,jdbcType=VARCHAR}, #{joinedYn,jdbcType=VARCHAR}, #{joinedTime,jdbcType=TIMESTAMP}, 
      #{pcOrderNo,jdbcType=VARCHAR}, #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR}, 
      #{option03,jdbcType=VARCHAR}, #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbPostCustomer">
    insert into TB_POST_CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="postCustomerId != null">
        POST_CUSTOMER_ID,
      </if>
      <if test="postId != null">
        POST_ID,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="paidYn != null">
        PAID_YN,
      </if>
      <if test="joinedYn != null">
        JOINED_YN,
      </if>
      <if test="joinedTime != null">
        JOINED_TIME,
      </if>
      <if test="pcOrderNo != null">
        PC_ORDER_NO,
      </if>
      <if test="option01 != null">
        OPTION01,
      </if>
      <if test="option02 != null">
        OPTION02,
      </if>
      <if test="option03 != null">
        OPTION03,
      </if>
      <if test="option04 != null">
        OPTION04,
      </if>
      <if test="option05 != null">
        OPTION05,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="postCustomerId != null">
        #{postCustomerId,jdbcType=INTEGER},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="paidYn != null">
        #{paidYn,jdbcType=VARCHAR},
      </if>
      <if test="joinedYn != null">
        #{joinedYn,jdbcType=VARCHAR},
      </if>
      <if test="joinedTime != null">
        #{joinedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcOrderNo != null">
        #{pcOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="option01 != null">
        #{option01,jdbcType=VARCHAR},
      </if>
      <if test="option02 != null">
        #{option02,jdbcType=VARCHAR},
      </if>
      <if test="option03 != null">
        #{option03,jdbcType=VARCHAR},
      </if>
      <if test="option04 != null">
        #{option04,jdbcType=VARCHAR},
      </if>
      <if test="option05 != null">
        #{option05,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbPostCustomer">
    update TB_POST_CUSTOMER
    <set>
      <if test="postId != null">
        POST_ID = #{postId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="paidYn != null">
        PAID_YN = #{paidYn,jdbcType=VARCHAR},
      </if>
      <if test="joinedYn != null">
        JOINED_YN = #{joinedYn,jdbcType=VARCHAR},
      </if>
      <if test="joinedTime != null">
        JOINED_TIME = #{joinedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pcOrderNo != null">
        PC_ORDER_NO = #{pcOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="option01 != null">
        OPTION01 = #{option01,jdbcType=VARCHAR},
      </if>
      <if test="option02 != null">
        OPTION02 = #{option02,jdbcType=VARCHAR},
      </if>
      <if test="option03 != null">
        OPTION03 = #{option03,jdbcType=VARCHAR},
      </if>
      <if test="option04 != null">
        OPTION04 = #{option04,jdbcType=VARCHAR},
      </if>
      <if test="option05 != null">
        OPTION05 = #{option05,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where POST_CUSTOMER_ID = #{postCustomerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbPostCustomer">
    update TB_POST_CUSTOMER
    set POST_ID = #{postId,jdbcType=INTEGER},
      CUSTOMER_ID = #{customerId,jdbcType=INTEGER},
      PAID_YN = #{paidYn,jdbcType=VARCHAR},
      JOINED_YN = #{joinedYn,jdbcType=VARCHAR},
      JOINED_TIME = #{joinedTime,jdbcType=TIMESTAMP},
      PC_ORDER_NO = #{pcOrderNo,jdbcType=VARCHAR},
      OPTION01 = #{option01,jdbcType=VARCHAR},
      OPTION02 = #{option02,jdbcType=VARCHAR},
      OPTION03 = #{option03,jdbcType=VARCHAR},
      OPTION04 = #{option04,jdbcType=VARCHAR},
      OPTION05 = #{option05,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where POST_CUSTOMER_ID = #{postCustomerId,jdbcType=INTEGER}
  </update>
</mapper>