<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbRoomMapper">
    <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbRoom">
        <id column="ROOM_ID" jdbcType="INTEGER" property="roomId"/>
        <result column="SHOP_ID" jdbcType="INTEGER" property="shopId"/>
        <result column="ROOM_TYPE" jdbcType="VARCHAR" property="roomType"/>
        <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
        <result column="ROOM_THUMBNAIL" jdbcType="VARCHAR" property="roomThumbnail"/>
        <result column="ROOM_INTRO" jdbcType="VARCHAR" property="roomIntro"/>
        <result column="ROOM_CODE" jdbcType="VARCHAR" property="roomCode"/>
        <result column="ROOM_CAPACITY" jdbcType="VARCHAR" property="roomCapacity"/>
        <result column="ROOM_STATUS" jdbcType="VARCHAR" property="roomStatus"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ROOM_ID
        , SHOP_ID, ROOM_TYPE, ROOM_NAME, ROOM_THUMBNAIL, ROOM_INTRO, ROOM_CODE, ROOM_CAPACITY,
    ROOM_STATUS, OPTION01, OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_ROOM
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from TB_ROOM
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="online.cunho.blog.entity.TbRoom">
        insert into TB_ROOM (ROOM_ID, SHOP_ID, ROOM_TYPE,
                             ROOM_NAME, ROOM_THUMBNAIL, ROOM_INTRO,
                             ROOM_CODE, ROOM_CAPACITY, ROOM_STATUS,
                             OPTION01, OPTION02, OPTION03,
                             OPTION04, OPTION05, CREATE_TIME,
                             UPDATE_TIME)
        values (#{roomId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{roomType,jdbcType=VARCHAR},
                #{roomName,jdbcType=VARCHAR}, #{roomThumbnail,jdbcType=VARCHAR}, #{roomIntro,jdbcType=VARCHAR},
                #{roomCode,jdbcType=VARCHAR}, #{roomCapacity,jdbcType=VARCHAR}, #{roomStatus,jdbcType=VARCHAR},
                #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR}, #{option03,jdbcType=VARCHAR},
                #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbRoom">
        insert into TB_ROOM
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                ROOM_ID,
            </if>
            <if test="shopId != null">
                SHOP_ID,
            </if>
            <if test="roomType != null">
                ROOM_TYPE,
            </if>
            <if test="roomName != null">
                ROOM_NAME,
            </if>
            <if test="roomThumbnail != null">
                ROOM_THUMBNAIL,
            </if>
            <if test="roomIntro != null">
                ROOM_INTRO,
            </if>
            <if test="roomCode != null">
                ROOM_CODE,
            </if>
            <if test="roomCapacity != null">
                ROOM_CAPACITY,
            </if>
            <if test="roomStatus != null">
                ROOM_STATUS,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            CREATE_TIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="roomType != null">
                #{roomType,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="roomThumbnail != null">
                #{roomThumbnail,jdbcType=VARCHAR},
            </if>
            <if test="roomIntro != null">
                #{roomIntro,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCapacity != null">
                #{roomCapacity,jdbcType=VARCHAR},
            </if>
            <if test="roomStatus != null">
                #{roomStatus,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbRoom">
        update TB_ROOM
        <set>
            <if test="shopId != null">
                SHOP_ID = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="roomType != null">
                ROOM_TYPE = #{roomType,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                ROOM_NAME = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="roomThumbnail != null">
                ROOM_THUMBNAIL = #{roomThumbnail,jdbcType=VARCHAR},
            </if>
            <if test="roomIntro != null">
                ROOM_INTRO = #{roomIntro,jdbcType=VARCHAR},
            </if>
            <if test="roomCode != null">
                ROOM_CODE = #{roomCode,jdbcType=VARCHAR},
            </if>
            <if test="roomCapacity != null">
                ROOM_CAPACITY = #{roomCapacity,jdbcType=VARCHAR},
            </if>
            <if test="roomStatus != null">
                ROOM_STATUS = #{roomStatus,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            UPDATE_TIME = now()
        </set>
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbRoom">
        update TB_ROOM
        set SHOP_ID        = #{shopId,jdbcType=INTEGER},
            ROOM_TYPE      = #{roomType,jdbcType=VARCHAR},
            ROOM_NAME      = #{roomName,jdbcType=VARCHAR},
            ROOM_THUMBNAIL = #{roomThumbnail,jdbcType=VARCHAR},
            ROOM_INTRO     = #{roomIntro,jdbcType=VARCHAR},
            ROOM_CODE      = #{roomCode,jdbcType=VARCHAR},
            ROOM_CAPACITY  = #{roomCapacity,jdbcType=VARCHAR},
            ROOM_STATUS    = #{roomStatus,jdbcType=VARCHAR},
            OPTION01       = #{option01,jdbcType=VARCHAR},
            OPTION02       = #{option02,jdbcType=VARCHAR},
            OPTION03       = #{option03,jdbcType=VARCHAR},
            OPTION04       = #{option04,jdbcType=VARCHAR},
            OPTION05       = #{option05,jdbcType=VARCHAR},
            UPDATE_TIME    = now()
        where ROOM_ID = #{roomId,jdbcType=INTEGER}
    </update>

    <select id="getAllRoomList" parameterType="online.cunho.blog.dto.TbRoomDto" resultType="online.cunho.blog.dto.TbRoomDto">
        SELECT 	ROW_NUMBER() OVER() AS RN
                ,T1.ROOM_ID
                ,T1.SHOP_ID
                ,(SELECT A1.SHOP_NAME FROM TB_SHOP A1 WHERE A1.SHOP_ID = T1.SHOP_ID) AS SHOP_NAME
                ,T1.ROOM_TYPE
                ,(
                SELECT  A1.CODE_NAME
                FROM    TB_COMMON_CODE A1
                WHERE   A1.CODE_CD = T1.ROOM_TYPE
                AND     A1.CODE_TYPE = 'ROOM_TYPE'
                ) AS ROOM_TYPE_NAME
                ,T1.ROOM_NAME
                ,T1.ROOM_THUMBNAIL
                ,T1.ROOM_INTRO
                ,T1.ROOM_CODE
                ,T1.ROOM_CAPACITY
                ,T1.ROOM_STATUS
                ,CASE WHEN T1.ROOM_STATUS = 1 THEN '使用中' WHEN T1.ROOM_STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d') AS UPDATE_TIME
        FROM 	TB_ROOM T1
        <where>
            <if test="shopId != null">
                AND T1.SHOP_ID = #{shopId}
            </if>
        </where>
        ORDER BY T1.CREATE_TIME DESC
    </select>

    <select id="getTbRoomInfoByRoomId" parameterType="java.lang.Integer" resultType="online.cunho.blog.dto.TbRoomDto">
        SELECT 	T1.ROOM_ID
                ,T1.SHOP_ID
                ,T1.ROOM_TYPE
                ,(
                SELECT  A1.CODE_NAME
                FROM    TB_COMMON_CODE A1
                WHERE   A1.CODE_CD = T1.ROOM_TYPE
                AND     A1.CODE_TYPE = 'ROOM_TYPE'
                ) AS ROOM_TYPE_NAME
                ,T1.ROOM_NAME
                ,T1.ROOM_THUMBNAIL
                ,T1.ROOM_INTRO
                ,T1.ROOM_CODE
                ,T1.ROOM_CAPACITY
                ,T1.ROOM_STATUS
                ,CASE WHEN T1.ROOM_STATUS = 1 THEN '使用中' WHEN T1.ROOM_STATUS = 0 THEN '禁用' ELSE '-' END AS STATUS_NAME
                ,T1.OPTION01
                ,T1.OPTION02
                ,T1.OPTION03
                ,T1.OPTION04
                ,T1.OPTION05
                ,DATE_FORMAT(T1.CREATE_TIME, '%Y-%m-%d %H:%i:%s') AS CREATE_TIME
                ,DATE_FORMAT(T1.UPDATE_TIME, '%Y-%m-%d %H:%i:%s') AS UPDATE_TIME
        FROM 	TB_ROOM T1
        WHERE   T1.ROOM_ID = #{roomId}
    </select>


</mapper>