<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.cunho.blog.dao.TbSeckillMapper">
    <resultMap id="BaseResultMap" type="online.cunho.blog.entity.TbSeckill">
        <id column="SECKILL_ID" jdbcType="BIGINT" property="seckillId"/>
        <result column="SKU_ID" jdbcType="INTEGER" property="skuId"/>
        <result column="SKU_NAME" jdbcType="VARCHAR" property="skuName"/>
        <result column="QTY" jdbcType="INTEGER" property="qty"/>
        <result column="SECKILL_START_TIME" jdbcType="TIMESTAMP" property="seckillStartTime"/>
        <result column="SECKILL_END_TIME" jdbcType="TIMESTAMP" property="seckillEndTime"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="OPTION01" jdbcType="VARCHAR" property="option01"/>
        <result column="OPTION02" jdbcType="VARCHAR" property="option02"/>
        <result column="OPTION03" jdbcType="VARCHAR" property="option03"/>
        <result column="OPTION04" jdbcType="VARCHAR" property="option04"/>
        <result column="OPTION05" jdbcType="VARCHAR" property="option05"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        SECKILL_ID
        , SKU_ID, SKU_NAME, QTY, SECKILL_START_TIME, SECKILL_END_TIME, `STATUS`,
    OPTION01, OPTION02, OPTION03, OPTION04, OPTION05, CREATE_TIME, UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TB_SECKILL
        where SECKILL_ID = #{seckillId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from TB_SECKILL
        where SECKILL_ID = #{seckillId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="online.cunho.blog.entity.TbSeckill">
        insert into TB_SECKILL (SECKILL_ID, SKU_ID, SKU_NAME,
                                QTY, SECKILL_START_TIME, SECKILL_END_TIME,
                                `STATUS`, OPTION01, OPTION02,
                                OPTION03, OPTION04, OPTION05,
                                CREATE_TIME, UPDATE_TIME)
        values (#{seckillId,jdbcType=BIGINT}, #{skuId,jdbcType=INTEGER}, #{skuName,jdbcType=VARCHAR},
                #{qty,jdbcType=INTEGER}, #{seckillStartTime,jdbcType=TIMESTAMP}, #{seckillEndTime,jdbcType=TIMESTAMP},
                #{status,jdbcType=VARCHAR}, #{option01,jdbcType=VARCHAR}, #{option02,jdbcType=VARCHAR},
                #{option03,jdbcType=VARCHAR}, #{option04,jdbcType=VARCHAR}, #{option05,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="online.cunho.blog.entity.TbSeckill">
        insert into TB_SECKILL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seckillId != null">
                SECKILL_ID,
            </if>
            <if test="skuId != null">
                SKU_ID,
            </if>
            <if test="skuName != null">
                SKU_NAME,
            </if>
            <if test="qty != null">
                QTY,
            </if>
            <if test="seckillStartTime != null">
                SECKILL_START_TIME,
            </if>
            <if test="seckillEndTime != null">
                SECKILL_END_TIME,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="option01 != null">
                OPTION01,
            </if>
            <if test="option02 != null">
                OPTION02,
            </if>
            <if test="option03 != null">
                OPTION03,
            </if>
            <if test="option04 != null">
                OPTION04,
            </if>
            <if test="option05 != null">
                OPTION05,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seckillId != null">
                #{seckillId,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="qty != null">
                #{qty,jdbcType=INTEGER},
            </if>
            <if test="seckillStartTime != null">
                #{seckillStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="seckillEndTime != null">
                #{seckillEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="online.cunho.blog.entity.TbSeckill">
        update TB_SECKILL
        <set>
            <if test="skuId != null">
                SKU_ID = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                SKU_NAME = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="qty != null">
                QTY = #{qty,jdbcType=INTEGER},
            </if>
            <if test="seckillStartTime != null">
                SECKILL_START_TIME = #{seckillStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="seckillEndTime != null">
                SECKILL_END_TIME = #{seckillEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `STATUS` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="option01 != null">
                OPTION01 = #{option01,jdbcType=VARCHAR},
            </if>
            <if test="option02 != null">
                OPTION02 = #{option02,jdbcType=VARCHAR},
            </if>
            <if test="option03 != null">
                OPTION03 = #{option03,jdbcType=VARCHAR},
            </if>
            <if test="option04 != null">
                OPTION04 = #{option04,jdbcType=VARCHAR},
            </if>
            <if test="option05 != null">
                OPTION05 = #{option05,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where SECKILL_ID = #{seckillId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="online.cunho.blog.entity.TbSeckill">
        update TB_SECKILL
        set SKU_ID             = #{skuId,jdbcType=INTEGER},
            SKU_NAME           = #{skuName,jdbcType=VARCHAR},
            QTY                = #{qty,jdbcType=INTEGER},
            SECKILL_START_TIME = #{seckillStartTime,jdbcType=TIMESTAMP},
            SECKILL_END_TIME   = #{seckillEndTime,jdbcType=TIMESTAMP},
            `STATUS`           = #{status,jdbcType=VARCHAR},
            OPTION01           = #{option01,jdbcType=VARCHAR},
            OPTION02           = #{option02,jdbcType=VARCHAR},
            OPTION03           = #{option03,jdbcType=VARCHAR},
            OPTION04           = #{option04,jdbcType=VARCHAR},
            OPTION05           = #{option05,jdbcType=VARCHAR},
            CREATE_TIME        = #{createTime,jdbcType=TIMESTAMP},
            UPDATE_TIME        = #{updateTime,jdbcType=TIMESTAMP}
        where SECKILL_ID = #{seckillId,jdbcType=BIGINT}
    </update>

    <update id="reduceQty">
      <![CDATA[
        UPDATE  TB_SECKILL T1
        SET     T1.QTY = T1.QTY - 1
        WHERE   T1.SECKILL_ID = #{seckillId}
        AND     T1.SECKILL_START_TIME <= #{killTime}
        AND     T1.SECKILL_END_TIME >= #{killTime}
        AND     T1.QTY > 0
      ]]>
    </update>

    <select id="getAllTbSeckill" resultType="online.cunho.blog.entity.TbSeckill">
        select
        <include refid="Base_Column_List"/>
        from TB_SECKILL
        order by create_time desc
    </select>
</mapper>